body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.sky-text {
  color: #19aef8;
}
.light-color {
  background-color: #b8e9fc;
}
.grey-text {
  color: rgb(160, 157, 157);
  font-size: 20px;
}
h1 {
  font-size: 55px;
}

ul{
    list-style-type: none;
    margin: 0;
  padding: 0;
  background-color: #b8e9fc;
  height: 50px;
}
li{
    display: inline;
    
}
li a{
    
    text-decoration: none;
    color: black;
    padding: 20px 16px;
}
.flexible-container-for-two {
  display: flex;
  margin-bottom: 50px;
}
.flexible-container-for-two img {
  width: 100%;
}
.flexible-container-for-two div {
  width: 50%;
  padding: 5%;
}
#section-one-padding-left {
  padding-top: 100px;
  padding-left: 5%;
}

.button {
  text-decoration: none;
  background-image: linear-gradient(#b8e9fc, #19aef8);
  padding: 20px 50px;
  border-radius: 40px;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.about-me-background {
  background-image: url(img/Frame\ 57.jpg);
  background-repeat: no-repeat;
}
.about-me-background img {
  width: 60%;
  margin-left: 20%;
}

.margin-div {
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
}

.flexible-container-for-three {
  display: flex;
  margin-bottom: 50px;
}
.flexible-container-for-three div {
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 15px;
  box-shadow: 10px 10px 40px grey;
  height: 80%;
  border-radius: 20px;
}

.flexible-container-for-three img {
  width: 100%;
}

#section-four-header{
 text-align: center;
 color: grey;
 font-size: 50px;
 padding-top: 30px;
}

.section-four h2{
    text-align: center;
}

.flexible-container-for-four {
    display: flex;
    margin-bottom: 50px;
  }
  .flexible-container-for-four div {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 15px;
    box-shadow: 10px 10px 40px grey;
    height: 80%;
    border-radius: 20px;
  }
  
  .flexible-container-for-four img {
    width: 100%;
  }
  
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-top: 2px grey;
  border-left: 2px grey;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 10px 10px 40px grey;
  height: 20%;
}

form {
  font-size: 30px;
  text-align: left;
}
footer {
  background-color: black;
  height: 200px;
  text-align: center;
}
footer h2 {
  padding-top: 20px;
  color: #b8e9fc;
}
footer p {
  color: rgb(160, 157, 157);
}
